﻿@model IEnumerable<LabControl.Models.AlunoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Create New", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ra = item.Ra }) |
            @Html.ActionLink("Details", "Details", new { ra = item.Ra }) |
            @Html.ActionLink("Delete", "Delete", new { ra = item.Ra})
        </td>
    </tr>
}

</table>
